@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Oswald);/*
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*/

/* Mixins */

/* bg shortcodes */

.bg-gradient1 span,
.bg-gradient1:before {
  background: #fa7e29;
  background: linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
  background: #39C2C9;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  background: #B9AEF0;
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4 span {
  background: #F6682F;
  background: linear-gradient(180deg, #F6682F 0%, #F6682F 80%, #F6682F 100%);
}

/* General */

.wrapper {
  margin: 4% auto;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/* fancy Button */

.fancy-button {
  display: inline-block;
  margin: 20px;
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}

.fancy-button.bg-gradient1 {
  text-shadow: 0px 0px 1px #BF4C28;
}

.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #227270;
}

.fancy-button.bg-gradient3 {
  text-shadow: 0 0 1px #546082;
}

.fancy-button:before {
  content: "";
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  -webkit-filter: blur(14px) brightness(0.9);
          filter: blur(14px) brightness(0.9);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}

.fancy-button span {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.fancy-button:focus {
  color: #ffffff;
}

.fancy-button:hover {
  color: #ffffff;
}

.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  transform: scale(0.96);
}

.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}

.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}

.fancy-button.pop-onhover span {
  border-radius: 4px;
}

.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(16px);
          filter: blur(16px);
}

.fancy-button.pop-onhover:hover span {
  transform: scale(1);
}

.fancy-button.pop-onhover:hover:active span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(5px) brightness(0.85);
          filter: blur(5px) brightness(0.85);
  transition: all 0.2s ease-out;
}

.pop-onhover.bg-gradient3 span:hover {
  background: #B9AEF0;
  background: linear-gradient(120deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4:before {
  bottom: 2px;
  opacity: 0.6;
  transition: all 0.3s ease-out;
}

.bg-gradient4 {
  transition: all 1s ease;
}

.bg-gradient4 span {
  outline: 0px solid transparent;
}

.bg-gradient4:hover span {
  background: #FC3D7C;
  background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

.bg-gradient4:focus span,
.bg-gradient4:active span {
  background: #FC3D7C;
  background: linear-gradient(25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

.bg-gradient4:focus span {
  box-shadow: 0 0 9px #00FFF8;
}

.bg-gradient4:active span {
  -webkit-filter: brightness(0.85) contrast(1.3);
          filter: brightness(0.85) contrast(1.3);
}

.bg-gradient4 span {
  text-transform: capitalize;
}

#title {
  font-family: Oswald;
  padding: 5px;
  background-color: #2E86C1;
}

#title h1 {
  text-align: center;
  margin: 0;
}

.list {
  font-family: Oswald;
  background: #17ffd2;
  background: radial-gradient(circle, #17ffd2 0%, #a7cdf9 100%);
  border-radius: 25px 0px 25px 0px;
  margin: 0;
}

.list .header {
  padding: 5px;
  border-radius: 25px 0px 25px 0px;
  font-size: 24px;
  background: #a7cdf9;
  background: radial-gradient(circle, #a7cdf9 0%, #17ffd2 100%);
  cursor: pointer;
  position: relative;
  transition: 0.2s all;
  text-transform: uppercase;
  text-align: center;
}

.list .header:hover {
  background: #a7cdf9;
  background: radial-gradient(circle, #a7cdf9 0%, #17ffd2 100%);
}

.list ul {
  padding: 0px;
  margin: 0;
}

.list li {
  list-style: none;
  width: 200px;
  height: 240px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  background: #17ffd2;
  background: radial-gradient(circle, #17ffd2 0%, #a7cdf9 100%);
  transition: 0.1s all;
  position: relative;
}

.list li:hover {
  background: #a7cdf9;
  background: radial-gradient(circle, #a7cdf9 0%, #17ffd2 100%);
  bottom: 2px;
  right: 0px;
}

.header i {
  position: absolute;
  right: 15px;
  color: #2E86C1;
}

footer {
  background-color: #000;
  color: white;
  font-family: Oswald;
}

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}*/

